<div class="summonerProfilePageWrap">
	<div class="col-sm-10 col-sm-offset-1 row">
		<div class="col-md-2 ft-left">
			<img id="summonerIcon" src="{{summoner.img}}"/>
		</div>
		<div class="col-md-3 ft-left row">
			<h2 class="ft-left">{{summoner.name}}</h2>
			<br>
			<label for="ladderRank">Ladder Rank:</label>
            <label class="label-text">{{summoner.id}}</label>
		</div>
	</div>
	<div class="col-sm-12 profile-tabs">
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-class="{ active: isTabActive('champs') }"><a href="/detailSummoner?id={{summoner.id}}&tab=champs">Champions</a></li>
		  <li role="presentation" ng-class="{ active: isTabActive('summary') }"><a href="/detailSummoner?id={{summoner.id}}&tab=summary">Summary</a></li>
		</ul>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-12 tab-table" ng-show="isTabActive('champs')">			
			<table st-table="displayedSummonerChampions" st-safe-src="summonerChampions" class="table table-striped table-hover">
				<thead>
					<tr>
						<th colspan="8">
							<div class="dropdown ft-left">
								<button class="btn btn-default dropdown-toggle" type="button" id="seasonDD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{rankedSeason}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="seasonDD">
									<li><a ng-click="refreshSeasonData('SEASON2016')">Season 6</a></li>
									<li><a ng-click="refreshSeasonData('SEASON2015')">Season 5</a></li>
									<li><a ng-click="refreshSeasonData('SEASON2014')">Season 4</a></li>
								</ul>
							</div>
							<div class="ft-right">
								<input st-search="" class="form-control" placeholder="Table Search..." type="text"/>
							</div>				
						</th>
					</tr>
					<tr>
						<th st-sort="rank" class="sort-header">Rank</th>
						<th st-sort="name" class="sort-header">Champion</th>
						<th st-sort="name" class="sort-header">Total Kills</th>
						<th st-sort="name" class="sort-header">Total Deaths</th>
						<th st-sort="name" class="sort-header">Total Assists</th>
						<th st-sort="name" class="sort-header">CS</th>
						<th st-sort="name" class="sort-header">Gold</th>
						<th>Play Ratio</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="summonerChampion in displayedSummonerChampions">
						<td>{{summonerChampion.rank}}</td>
						<td><img src="{{summonerChampion.img}}"/>{{summonerChampion.name}}</td>
						<td>{{summonerChampion.kills | number:0}}</td>
						<td>{{summonerChampion.deaths | number:0}}</td>
						<td>{{summonerChampion.assists | number:0}}</td>
						<td>{{summonerChampion.cs | number:0}}</td>
						<td>{{summonerChampion.gold | number:0}}</td>
						<td>
							<div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{summonerChampion.totalSessionsWon}}" aria-valuemin="0" aria-valuemax="{{summonerChampion.totalSessionsPlayed}}" ng-style="{width : ( summonerChampion.winPerc + '%' ) }">
								  		{{summonerChampion.totalSessionsWon}} W
								  	</div>
								  	<div class="progress-bar loss-bar" role="progressbar" aria-valuenow="{{summonerChampion.totalSessionsLost}}" aria-valuemin="0" aria-valuemax="{{summonerChampion.totalSessionsPlayed}}" ng-style="{width : ( summonerChampion.lossPerc + '%' ) }">
								  		{{summonerChampion.totalSessionsLost}}	L
								  	</div>				  	
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12" ng-show="isTabActive('summary')">
		</div>
	</div>
</div>