<table st-table="displayedSummoners" st-safe-src="summoners" class="table table-striped table-hover">
	<thead>
	<tr>
		<th colspan="5">
			<div class="ft-right">
				<input st-search="" class="form-control" placeholder="Table Search..." type="text"/>
			</div>				
		</th>
	</tr>
	<tr>
		<th st-sort="rank" class="sort-header">Rank</th>
		<th st-sort="name" class="sort-header">Summoner Name</th>
		<th st-sort="tier" class="sort-header">Tier</th>
		<th st-sort="lp" class="sort-header">LP</th>
		<th>Win Ratio</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="summoner in displayedSummoners">
		<td>{{summoner.rank}}</td>
		<td><img src="{{summoner.img}}"/><a href="/detailSummoner?id={{summoner.id}}&tab=champs">{{summoner.name}}</a></td>
		<td>{{summoner.tier}}</td>
		<td>{{summoner.lp}}</td>
		<td>
			<div>
				<div class="progress ft-left win-ratio-bar">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{summoner.wins}}" aria-valuemin="0" aria-valuemax="{{summoner.totalGames}}" ng-style="{width : ( summoner.winPerc + '%' ) }">
				  		{{summoner.wins}}				  	
				  	</div>
				  	<div class="progress-bar loss-bar" role="progressbar" aria-valuenow="{{summoner.losses}}" aria-valuemin="0" aria-valuemax="{{summoner.totalGames}}" ng-style="{width : ( summoner.lossPerc + '%' ) }">
				  		{{summoner.losses}}				  	
				  	</div>				  	
				</div>
				<span class="ft-right">{{summoner.winPerc + '%'}}</span>
			</div>
		</td>
	</tr>
	</tbody>
</table>