<div ng-controller="PlayerController">
	<!-- <table st-table="displayedPlayers" st-safe-src="players" class="table table-striped table-hover">
		<thead>
		<tr>
			<th colspan="7">
				<div class="ft-right">
					<input st-search="" class="form-control" placeholder="Global Search..." type="text"/>
				</div>				
			</th>
		</tr>
		<tr>
			<th st-sort="rank" class="sort-header" ng-click="checkSort($event)"><img src="images/sort-arrow.png"/>Rank</th>
			<th st-sort="name" class="sort-header" ng-click="checkSort($event)"><img src="images/sort-arrow.png"/>Summoner Name</th>
			<th st-sort="tier" class="sort-header" ng-click="checkSort($event)"><img src="images/sort-arrow.png"/>Tier</th>
			<th st-sort="lp" class="sort-header" ng-click="checkSort($event)"><img src="images/sort-arrow.png"/>LP</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="player in displayedPlayers">
			<td>{{player.rank}}</td>
			<td><a href="/detailPlayer?id={{player.id}}">{{player.name}}</a></td>
			<td>{{player.tier}}</td>
			<td>{{player.lp}}</td>
		</tr>
		</tbody>
	</table> -->
</div>