<div ng-controller="SummonerController">
	<table st-table="displayedSummoners" st-safe-src="summoners" class="table table-striped table-hover">
		<thead>
		<tr>
			<th colspan="7">
				<div class="ft-right">
					<input st-search="" class="form-control" placeholder="Global Search..." type="text"/>
				</div>				
			</th>
		</tr>
		<tr>
			<th st-sort="rank" class="sort-header">Rank</th>
			<th st-sort="name" class="sort-header">Summoner Name</th>
			<th st-sort="tier" class="sort-header">Tier</th>
			<th st-sort="lp" class="sort-header">LP</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="summoner in displayedSummoners">
			<td>{{summoner.rank}}</td>
			<td><a href="/detailSummoner?id={{summoner.id}}">{{summoner.name}}</a></td>
			<td>{{summoner.tier}}</td>
			<td>{{summoner.lp}}</td>
		</tr>
		</tbody>
	</table>
</div>