.ft-right { float:right; }
.ft-left {float:left;}

.header {
	width: 100%;
	background-color: #4e4e4e;
	float: left; 
	height: 50px;
}

.btn-logout, .btn-logout:hover, .btn-logout:focus, .btn-home, .btn-home:hover, .btn-home:focus, .btn-edit, .btn-edit:hover, .btn-edit:focus, .btn-remove, .btn-remove:hover, .btn-remove:focus {
	background: inherit;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.sort-header {
	cursor: pointer;
}

.sort-header img {
	height: 15px;
	margin-top: -4px;
	opacity: 0.3;
}

.input-sm {
	width: 30%;
}

.input-md {
	width: 60%;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #a94442;
}

.currently-loading {
    -moz-opacity: 0.45;
    filter: alpha(opacity=45);
    width: 35px;
    z-index: 10;
}

a:active {
	background-color: transparent;
}

.navbar-nav>.active>a,.navbar-nav>.active>a:hover,.navbar-nav>.active>a:focus {
	color: lightblue;
	background: none;
}

.navbar-nav>li>a {
	color: white;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: grey;
}

td>img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 2%;
}

.loss-bar {
	 background-color: darkred;
}

.progress-bar {
	font-weight: bold;
}

.win-ratio-bar {
	width: 80%;
}